.container{
  padding: 15px 15px 15px 15px;
  width: 80%;
  background-color: #1bbfd4;
  height: 500px;
  border: 1px solid purple;
  border-radius: 25px;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
  padding: none;
  /* align-content: space-around; */
 /* line-height: 2; */
  color: white;
  display: flexbox;

  /* text-decoration: blink; */
}

.btn{
  padding: 8px;
  background-color: rgba(34, 139, 34, 0.571);
  border: 1px double white;
  border-radius: 5px;
  box-shadow: 10px 10px #000000;
}

